.fullBearContainer {
    position: relative;
    border: #72c6e0 1px solid;
    height: 600px;
    width: 600px;
    min-height: 600px;
    min-width: 600px;
    max-height: 600px;
    max-width: 600px;
    /* background-image: url('/images/expressions/Uruka_600x600.png'); */
    /* z-index: 10; */
}

.fullBear {
    position: absolute;
    top: 0;
    left: 0;
    height: 600px;
    width: 600px;
    min-height: 600px;
    min-width: 600px;
    max-height: 600px;
    max-width: 600px;
    /* background-image: url('https://justbagel.github.io/uwukuwt/images/expressions/Uruka_600x600.png'); */
    background-image: url('https://uwukuwt.netlify.app/images/expressions/Uruka_600x600.png');
    z-index: 50;
}

.hidden {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.shown {
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.backgroundPic {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    height: 600px;
    width: 600px;
    z-index: 20;
}