body {
    margin: 0;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #37313d;
    background-image: url("public/UrukaCursed.png");
    color: #fef6f3;
    width: 100%;
}

a, a :active {
    color: #f6ad4e;
}

/* a :visited {
    color: #72c6e0;
} */

.main {
    width: 80%;
    /* min-width: 80vw; */
    min-width: 900px;
    min-height: 90vh;
    border: #72c6e0 1px solid;
    margin: auto;
    background-color: #273154;
    margin-top: 5vh;
    padding: 0;

}

.header {
    text-align: center;
    color: #72c6e0;
}

.container {

    margin: 20px;
    display: flex;
    gap: 20px;
    

}

.navigation {
    width: 220px;
    min-width: 220px;
    text-align: center;
    display: block;
}

.content {
    text-align: center;
    margin: 0px auto;
}

.blinking {
    animation:blinkingText 2s linear infinite;
}
@keyframes blinkingText{
    0%{     color: #f6ad4e;    }
    50%{    color: #72c6e0;  }
    100%{   color: #f6ad4e;    }
}

.instants {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;

}

.uruga {
    margin-top: -5px !important;
    margin-left: auto;
    margin-right: auto;
    padding: 0px !important;
    background-color: #37313d;
    min-height: 5vh;
    min-width: 900px;
    max-width: 1700px;
    display: flex;
    align-self: center;
    align-items: center;
    border-bottom: #72c6e0 1px solid;
}

.urugaButton {
    margin-left: 3px;
    margin-right: 3px;
    padding-top: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.instantsBox {
    /* max-width: 200px; */
    width: 150px;
}

.instantsButton {
    margin-left: 3px;
    margin-right: 3px;
    padding-top: 5px;
    border: black 3px solid;
    border-radius: 30%;
    cursor: pointer;
    
}

#kuwtmeeting {
    max-width: 100%;
    height: auto;
    margin: 0px !important;
    padding: 0px !important;
}

#OOOO {
    font-size: 4vh;
}

#linkYoutube :hover {
    color: #ff0000;
}

#linkTwitch :hover {
    color: #9146ff;
}

#linkTwitter :hover {
    color: #1d9bef;
}

#linkDiscord :hover {
    color: #5764f1;
}
